
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    </head>
<body style="text-align: center; align-items: center;">

    <h1 style="text-align: center;">Lucky Bazar</h1>
    <hr>
    <a href = "{% url 'upage' %}">Add User</a>
    <a href = "{% url 'ppage' %}">Add Product</a>
    <a href = "{% url 'opage' %}">Add Order</a>
<br>
    <a href = "{% url 'ulist' %}">View User</a>
    <a href = "{% url 'plist' %}">View Product</a>
    <a href = "{% url 'olist' %}">View Order</a>
    
    
{% block page %}
{% endblock %}

</body>
</html>

