{% extends 'index.html' %}

{% block page %}
<hr>
    <table border="1px solid black" style="text-align: center; margin: auto;">
        <th>ID number</th>
        <th>name</th>
        <th>product</th>
        <th>address</th>
        <th>delete</th>
        <th>Edit</th>
        {% for i in opage %}
        
     <tr>
        <td>{{i.id}}</td>
        <td>{{i.user_name}}</td>
        <td>{{i.product_name}}</td>
        <td>{{i.address}}</td>
        <td><a href="{%url 'odel' id=i.id %}">Delete </a></td>
        <td><a href="{%url 'oedit' id=i.id %}">Edit</a></td>
    </tr>
        {% endfor %}                                                                    
    </table>
   

{% endblock %}