{% extends 'index.html' %}

{% block page %}

<form method= 'POST'>
    <hr>
    <table style="margin: auto;">
        {{data.as_table}}
        {% csrf_token %}
    </table>
    <input type= "submit">
</form>
{% endblock %}