{% extends 'index.html' %}

{% block page %}

<hr>    
<table border="1px solid black" style="text-align: center; margin: auto;">
    <th>ID number</th>
    <th>name</th>
    <th>price</th>
    <th>delete</th>
    <th>Edit</th>
    {% for i in ppage %}
<tr> 
    <td>{{i.id}}</td>   
    <td>{{i.product_name}}</td>
    <td>{{i.price}}</td>
    <td><a href="{%url 'pdel' id=i.id %}">Delete</a></td>
    <td><a href="{%url 'pedit' id=i.id %}">Edit</a></td>       
</tr>
    {% endfor %}
</table>
   

{% endblock %}