{% extends 'index.html' %}

{% block page %}

<form method= 'POST'>
    <hr>
    <table style="margin: auto;">
        {% csrf_token %}
        {{form.as_table}}
        
    </table>
    <input type= "submit">
</form>
{% endblock %}