{% extends 'index.html' %}

{% block page %}

<hr>    
<table border="1px solid black" style="text-align: center; margin: auto;">
    
    <th>ID number</th>
    <th>name</th>
    <th>city</th>
    <th>delete</th>
    <th>Edit</th>
    {% for i in upage %}
<tr>
    <td>{{i.id}}</td>
    <td>{{i.user_name}}</td>
    <td>{{i.user_city}}</td>
    <td><a href="{%url 'udel' id=i.id %}">Delete</a></td>
    <td><a href="{%url 'uedit' id=i.id %}">Edit</a></td>
</tr>  

    {% endfor %}
</table>
   

{% endblock %}